<% include ../partials/header %>

<div class='container'>
    <div class='row'>
        <h1 class='addDealandComment'>Add New Comments to <%= deal.name %></h1>
        <div class='styleDealandComment'>
            <form  action='/deal/<%= deal._id %>/comments' method='POST'>
                
                <div class='form-group'>
                    <textarea rows="20" class='form-control' type='text' name='comment[text]' placeholder='text'></textarea>
                </div>
                <!--<div class='form-group'>-->
                <!--    <input class='form-control' type='text' name='comment[author]' placeholder='author' >-->
                <!--</div>-->
                
                <div class='form-group'>
                    <button class='btn btn-lg btn-primary btn-block'>Submit</button>
                </div>
                
            </form>
            <a href='/deal/<%= deal._id %>'>Go Back</a>
        </div>
            
        
    </div>
        
</div>
    

<% include ../partials/footer %>