.thumbnail img {
    width: 100%;
}

.thumbnail{
    padding: 0;
}

.thumbnail .caption-full{
    padding: 9px;
}

.addDealandComment{
    text-align: center;
}

.styleDealandComment{
    width:30%; 
    margin: 25px auto;
}

#itemblock{
     display: flex; 
     flex-wrap: wrap;
}

.delete-form{
    display: inline;
}